.logo-afriano {
    width: 180px;
    transition: 200ms;
}

.logo-afriano:hover {
    scale: 105%;
    transition: 200ms;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 15%;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 16px;
    user-select: none;
}

.nav-menu li {
    cursor: pointer;
    transition: 200ms;
}

.nav-menu li:hover {
    scale: 105%;
    color: #324099;
}

.nav-menu a {
    text-decoration: none;
    color: inherit;
}

.nav-mob-open {
    display: none;
    cursor: pointer;
}

.nav-mob-close {
    display: none;
}

@media (max-width: 768px) {
    .navbar{
        margin: 10px 20px;
    }
    .nav-mob-open {
        display: flex;
        margin-right: 5px;
        width: 25px;
    }
    .nav-mob-close {
        display: block;
        position: relative;
        width: 25px;
    }
    .nav-menu {
        display: none;
    }

}